@model Ajax_Calling_for_binding_dropdown_using_SP.Models.State

<option value="">--Select States--</option>
@if(ViewBag.StateList != null)
{
    foreach(var item in ViewBag.StateList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
