
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @*<script src="~/Content/JS/JavaScript.js"></script>*@
    @*<script src="~/bundles/js" type="text/javascript"></script>
    <style src="~/bundles/css"></style>*@

    @Scripts.Render("~/bundles/js")

   @Styles.Render("~/bundle/css")
</head>
<body>
    <div> <h1>Hello Index</h1>
    </div>
</body>
</html>
